#events ul {
	list-style: none;
}
#events li {
    margin-bottom: 1%;
    width: 95%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid grey;
    list-style: none;
    padding: 1%;
    box-shadow: 1px 2px 5px #888886;
}

