 #header button {
 	background-color: transparent;
    color: white;
    font-weight: 600;
    border: none;
    margin-left: 15%;
    font-size: larger;
    padding: 0;

 }
 .timeline-wrapper {
 	display: inline-flex;

 }
 .timeline-wrapper p {
	font-weight: 300;
	text-align: justify;
	font-size: 14px;
 }
 #profile-menu{
 	width: 15vw;
 	padding: 1% 1%;
 	color: white;
 	background-color: black;
 	height: 100vh;
 	position: fixed;
 	border-right: solid 1px grey; 
 }
 #profile-cog {
 	width: 25px;
 	height: 25px;
 	float: right;
 }
 #profile-menu h2 {
 	display: inline-flex;
 	margin: 2% 2%;

 }
 #profile-menu p {
 	text-align: justify;
    font-size: 12px;
    line-height: 1rem;
 }
 #timeline {
 	width: 61vw;
 	overflow-y: hidden;
 	position: fixed;
    left: 17%;
    top: 1%;
 }
 #timeline-button {
 	position: fixed;
 	right: 1%;
 	top: 1%;
 	cursor: pointer;
 	width: 1%;
 }
 
 #ad-space {
	width: 20vw;
    height: 100vh;
    border: solid black 1px;
    border-radius: 5px;
    padding-top: 5%;
    text-align: center;
    position: fixed;
    right: 15px;
    top: 0px;
    border-left: grey solid 1px;
    padding-left: 1%;
 }
 #ad-space h1 {
 	margin: 0;
 	font-weight: 200;
 	border-top-right-radius: 5px;
 	border-top-left-radius: 5px;
 }
#ad-space h3 {
 	margin: 0;
 }
 .ad-title {
 	margin-bottom: 0;
 	text-align: center;
 }
 #ad-space p {
 	font-size: 13px;
 	text-align: justify;
 }
 #ad-space button {
 	background-color: black;
 	width: 100%;
 	text-decoration: none; 
 }
 
#compose-wrapper {
	height: fit-content;
    width: 60vw;
    text-align: center;
    margin-left: 0.75%;

}
.post-toggle {
	text-decoration-line: none;
	cursor: pointer;
	background-color: black;
	width: 50px;
    font-size: 12px;
    float: left;
    border: solid grey 1px;
    font-weight: 600;
    padding: 1%;
}
#compose label {
	font-size: 12px;
    font-weight: 600;
}
#compose input {
	width: 80px;
	border: white;
}
#post-toggle-one {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#post-toggle-two {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: 1%;	
} 
#compose-post {
	text-align: center;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2%;
}
#compose-post button {
	text-decoration-line: none;
	

}
#compose-wrapper textarea {
	width: 99.7%;
    height: 10vh;
    background: black;
    color: white;
    font-size: 15px;
    resize: none;
    border-radius: 2px;
    margin-top: 3%;
    border: solid 1px grey;
}
#insert {
	width: 5vw;
}

#compose-date {
	background: black;
    color: white;
}
#close-compose {
	color: #171718;
	float: right;
	cursor: pointer;
	text-decoration: none;
	border-radius: 5px;
}
#close-compose:hover {

}
#profile-menu button {
	text-decoration-line: none;
}
#profile-menu button:hover {
	cursor: pointer;
}
#post-wrapper {
    width: 98%;
    cursor: pointer;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 1%;
}
#popsts-wrapper {
	border-top: solid 5px grey;
}
#posts-wrapper h1 {
	color: white;
background-color: transparent;
font-size: 15px;
font-weight: 600;
display: inline-flex;
width: fit-content; 
}
#posts-wrapper h2 {
	color: white;
background-color: transparent;
font-size: 15px;
font-weight: 500;
width: fit-content;
}